#content{
    padding: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 3%;
    h3{
        color: var(--colorTextLight);
        background-color: var(--colorSecDark);
        padding: 10px;
        border-radius: 15px;
    }
    div{
        background-color: var(--colorSecDark);
        padding: 15px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
}