#content{
    padding: 3% 7%;
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 5%;
    .welcome{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        hr{
            border: solid 1px var(--colorTextLight);
            opacity: 0.4;
            border-radius: 50%;
        }
        h2, p{
            margin-left: 2%;
            color: var(--colorTextLight);
        }
        h2{font-size: calc(var(--fontSize3));}
        p{
            font-size: calc(var(--fontSize1));
            font-style: italic;
            text-indent: 0;
        }
    }
    p{
        font-size: calc(var(--fontSize2) * 0.8);
        text-indent: 15px;
    }
    .blurbs{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background-color: var(--colorSecLight);
        box-shadow: inset 0 0 30px 2px;
        padding: 15px;
        gap: 10px;
        border-radius: 15px;
        transition: outline 0.3s ease,
            box-shadow 0.5s ease,
            background-color 0.5s ease;
        outline: solid 4px var(--colorSecLight);
        .blurb{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: var(--colorSecDark);
            box-shadow: inset 0 0 20px;
            padding: 10px;
            border-radius: 10px;
            transition: box-shadow 0.5s ease,
                scale 0.5s ease;
            cursor: pointer;
            svg{
                width: calc(var(--fontSize3) * 2);
                height: calc(var(--fontSize3) * 2);
            }
            p{
                margin: auto;
                font-size: calc(var(--fontSize1) * 0.9);
                text-indent: 0;
                text-align: center;
                span{
                    margin-left: -4px;
                    display: inline-block;
                    transform-origin: top right;
                    scale: 0.7;
                }
            }
        }
    }
    .blurbs:hover{
        outline: solid 6px rgb(from var(--colorSecLight) calc(r*1.2) calc(g*1.2) calc(b*1.2));
        box-shadow: inset 0 0 20px;
        background-color: rgb(from var(--colorSecLight) calc(r*1.0) g calc(b*1.2));
    }
    .blurb:hover{
        box-shadow: inset 0 0 5px 2px var(--colorSecLight),
            2px 2px 10px;
        scale: 1.05;
    }
}