:root{
    --bookSearchToggleHeight: min(40px, 4dvh);
    --bookSearchHeight: min(60px, 5dvh);
}

#bookSearchDrawer{
    background-color: aqua;
    width: 100dvw;
    height: var(--bookSearchHeight);
    z-index: 900;
    position: fixed;
    position-anchor: --footerAnc;
    bottom: anchor(top);
    #bookSearchToggle{
        background-color: var(--colorSecLight);
        opacity: 0.5;
        padding: 5px;
        position: absolute;
        top: calc(-1 * calc(var(--fontSize3) * 1.5));
        height: calc(var(--fontSize3) * 1.5);
        width: calc(var(--fontSize3) * 1.5);
        left: calc(50% - 22.5px);
        border-radius: 40% 40% 0px 0px;
        cursor: pointer;
        svg{
            height: var(--fontSize3);
            width: var(--fontSize3);
        }
    }
}
#bookSearchDrawer.collapsed{
    transform: translateY(100%);
}

#addBookButton{
    position: fixed;
    position-anchor: --footerAnc;
    bottom: calc(anchor(top) + min(30px, 5dvw));
    right: min(30px, 5dvw);
    border-radius: 50%;
    display: flex;
    padding: min(10px, 2dvw);
    background-color: var(--colorValid);
    svg{
        width: min(80px, 10dvw);
        height: min(80px, 10dvw);
    }
}

#dlgAddBook{
    margin: auto;
    width: min(500px, 80dvw);
    height: min(350px, 60dvh);
    padding: 2px;
    border-radius: 15px;
    background-color: var(--colorSecMid);
    box-shadow: 3px 3px 10px;
    ::placeholder{
        color: var(--colorTextDark);
        scale: 0.8;
        transform-origin: left;
    }
    .container{
        background: radial-gradient(closest-side,
            var(--colorPrimLight) 20%,
            var(--colorPrimMid) 100%,
            rgb(49, 49, 49) 185%);
        border-radius: 15px;
        padding: min(10px, 2%);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        p{
            margin: 3% 0;
            font-size: clamp(0.5rem, calc(0.8dvw + 0.8rem), 1.3rem);
            font-weight: bold;
            background-color: var(--colorSecDark);
            padding: 5px;
            border-radius: 10px;
            width: 50%;
            text-align: center;
        }
        form{
            width: 100%;
            flex-grow: 1;
            display: grid;
            padding: 0px;
            grid-template-rows: min-content min-content 1fr min-content min-content min-content;
            row-gap: 2%;
            min-height: 0;
            .title, .author, .summary{
                input{
                    width: 100%;
                    font-size: clamp(0.5rem, calc(0.8dvw + 0.8rem), 1.3rem);
                    padding: 1% 2%;
                    border-radius: 5px;
                    background-color: var(--colorSecMid);
                    color: var(--colorTextDark);
                }
                textarea{ 
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    padding: 1% 2%;
                    font-size: clamp(0.5rem, calc(0.7dvw + 0.7rem), 1.1rem);
                    resize: none;
                    background-color: var(--colorSecMid);
                    color: var(--colorTextDark);
                }
            }
            .title{
                input{
                    font-weight: bold;
                }
            }
            .isbnPages{
                display: flex;
                justify-content: space-between;
                width: 100%;
                #addBookPages{
                    width: 30%;
                    font-size: clamp(0.5rem, calc(0.8dvw + 0.8rem), 1rem);
                    padding: 1% 2%;
                    border-radius: 5px;
                    background-color: var(--colorSecMid);
                    color: var(--colorTextDark);
                }
                #addBookISBN{
                    width: 69%;
                    font-size: clamp(0.5rem, calc(0.8dvw + 0.8rem), 1rem);
                    padding: 1% 2%;
                    border-radius: 5px;
                    background-color: var(--colorSecMid);
                    color: var(--colorTextDark);
                }
            }
            fieldset{
                border: solid 1px;
                padding: 5px 10px;
                display: flex;
                justify-content: space-evenly;
                div{
                    background-color: var(--colorSecLight);
                    padding: 5px 10px;
                    border-radius: 10px;
                    label{
                        font-size: clamp(0.5rem, calc(0.8dvw + 0.8rem), 1.3rem);
                        cursor: pointer;
                        color: var(--colorTextDark);
                        input{
                            opacity: 0;
                            position: absolute;
                            height: 0;
                            width: 0;
                            cursor: pointer;
                        }
                        .radio{
                            display: inline-flex;
                            height: min(30px, 5dvw);
                            width: min(30px, 5dvw);
                            background: radial-gradient(farthest-corner, 
                                var(--colorSecLight),
                                var(--colorSecDark));
                            border-radius: 50%;
                            vertical-align: middle;
                            position: relative;
                            padding: 2px;
                            overflow: hidden;
                            svg{
                                fill: var(--colorTextDark);
                                translate: 0px 30px; 
                                scale: 0;
                                transition: translate 0.5s linear,
                                    scale 0.7s ease-in;
                            }
                        }
                        input:checked ~ .radio{
                            svg{
                                translate: 0px 0px; 
                                scale: 1;
                            }
                        }
                        input:focus-visible ~ .radio{
                            outline: solid 2px #000;
                            outline-offset: 1px;
                        }
                    }
                }
            }
            .submit{
                align-self: center;
                justify-self: end;
                height: 36px;
                border-radius: 10px;
                background-color: var(--colorValid);
                padding: 3px;
                width: min(50px, 8dvw);
                height: min(50px, 8dvw);
                svg{
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
}

#cardsGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20dvw, 400px));
    grid-auto-rows: clamp(125px, 20dvh, 150px);
    justify-content: center;
    gap: 10px;
    padding: 10px;
    .bookCard{
        background-color: var(--colorSecDark);
        border-radius: 15px;
        display: grid;
        grid-template: min-content min-content auto / 1fr auto;
        align-items: center;
        padding: 10px;
        row-gap: 4px;
        box-shadow: 2px 2px 7px;
        outline: solid 1px;
        overflow: hidden;
        cursor: pointer;
        .read{
            grid-area: 1/2/2/-1;
            justify-self: end;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2px;
            opacity: 0.7;
            svg{
                width: var(--fontSize3);
                height: var(--fontSize3);
                opacity: 1;
            }
        }
        .read.yes{
            background: radial-gradient(farthest-corner,
                transparent 50%,
                #107a16 70%,
                transparent)
        }
        .read.started{
            background: radial-gradient(farthest-corner,
                transparent 50%,
                #a3ad12 70%,
                transparent)
        }
        .read.no{
            background: radial-gradient(farthest-corner,
                transparent 50%,
                #701515 70%,
                transparent)
        }
        .title, .author{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .title{
            font-size: calc(var(--fontSize3) * 0.7);
            font-weight: bold;
        }
        .author{
            font-size: calc(var(--fontSize3) * 0.6);
            font-style: italic;
        }
        .pages{
            span{
                font-style: italic;
            }
        }
        .summary{
            grid-area: -2/1/-1/-1;
            align-self: baseline;
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            font-size: calc(var(--fontSize3) * 0.5);
            mask-image: linear-gradient(to bottom,
                transparent,
                black 20%,
                black 80%,
                transparent);
            padding: 5px 0;
            scrollbar-width: none;
        }
    }
    .bookCard:hover{
        transform: scale(1.05) translate(0, 5px);
    }
}

#dlgBookInfo{
    margin: auto;
    width: min(500px, 80dvw);
    height: min(400px, 50dvh);
    background-color: var(--colorSecDark);
    padding: 3px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    .container{
        border-radius: 12px;
        background-color: var(--colorPrimDark);
        height: 100%;
        padding: 10px;
        display: grid;
        grid-template: repeat(3, min-content) auto min-content / auto min-content;
        overflow-x: hidden;
        overflow-y: auto;
        row-gap: 10px;
        .read{
            grid-area: -2/2/-1/-1;
            display: flex;
            padding: 3px;
            border-radius: 50%;
            opacity: 0.6;
            svg{
                width: var(--fontSize3);
                height: var(--fontSize3);
            }
        }
        .read.Yes{
            background: radial-gradient(farthest-corner,
                transparent 50%,
                #107a16 70%,
                transparent);
        }
        .read.Started{
            background: radial-gradient(farthest-corner,
                transparent 50%,
                #a3ad12 70%,
                transparent);
        }
        .read.No{
            background: radial-gradient(farthest-corner,
                transparent 50%,
                #701515 70%,
                transparent);
        }
        .title{
            grid-area: 1/1/2/2;
            font-size: calc(var(--fontSize2) * 0.8);
            font-weight: bold;
            
            width: 100%;
        }
        .author{
            grid-area: 2/1/3/-1;
            font-size: calc(var(--fontSize2) * 0.7);
            font-style: italic;
        }
        .isbnPages{
            grid-area: 3/1/4/-1;
            display: flex;
            justify-content: space-between;
            font-size: calc(var(--fontSize3) * 0.5);
            .pages{
                display: flex;
                font-weight: bold;
                span{
                    font-style: italic;
                    font-weight: normal;
                }
            }
        }
        .summary{
            grid-area: 4/1/5/-1;
            width: 100%;
        }
    }
}
#dlgBookInfo:focus{
    outline: none;
}
#dlgBookInfo::backdrop{
    width: 100dvw;
    height: 100dvh;
    background: #00000093;
    backdrop-filter: blur(3px);
    pointer-events: all;
}