:root{
    --bookSearchToggleHeight: min(40px, 4dvh);
    --bookSearchHeight: min(60px, 5dvh)
}

@media (width < 700px) {
    
    #bookSearchDrawer{
        background-color: aqua;
        width: 100dvw;
        height: var(--bookSearchHeight);
        z-index: 900;
        position: fixed;
        position-anchor: --footerAnc;
        bottom: anchor(top);
        #bookSearchToggle{
            background-color: burlywood;
            padding: 3px;
            position: absolute;
            top: calc(-1 * var(--bookSearchToggleHeight));
            height: var(--bookSearchToggleHeight);
            width: 45px;
            left: calc(50% - 22.5px);
            border-radius: 10px 10px 0px 0px;
            cursor: pointer;
            img{
                height: 100%;
            }
        }
    }
    #bookSearchDrawer.collapsed{
        transform: translateY(100%);
    }
}