@font-face {
    font-family: Sansation;
    src: url(./fonts/Sansation-Regular.woff2) format(woff2);
}
:root{
    --navBarToggleWidth: 50px;
    --dlgCloseBtnWidth: min(20px, 6dvw);
    --fontSize3: clamp(1rem, calc(4dvw + 1rem), 2rem);
    --fontSize2: clamp(0.7rem, calc(2dvw + 0.8rem), 1.5rem);
    --fontSize1: clamp(0.5rem, calc(1dvw + 0.5rem), 1rem);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
    margin-inline-start: 0;
    padding-inline-start: 0;
    border: none;
    
    -webkit-tap-highlight-color: transparent;
    font-family: Sansation;
}
*:focus{
    outline: solid 2px var(--colorHighlight);
}
p, legend{
    user-select: none;
    color: var(--colorTextLight);
}
span{
    color: var(--colorTextLight)
}
svg{
    fill: var(--colorTextLight)
}
.close{
    display: flex;
    border-radius: 50%;
    position: absolute;
    right: calc(var(--dlgCloseBtnWidth) * 0.5);
    top: calc(var(--dlgCloseBtnWidth) * 0.5);
    padding: min(5px, 1dvw);
    cursor: pointer;
    background-color: var(--colorInvalid);
    opacity: 0.4;
    transition: opacity 0.3s ease;
    svg{
        width: var(--dlgCloseBtnWidth);
        height: var(--dlgCloseBtnWidth);
        fill: var(--colorTextLight);
    }
}
.close:hover{
    opacity: 0.7;
}
::backdrop{
    background-color: rgba(0, 0, 0, 0.664);
    backdrop-filter: blur(5px);
}


body{
    position: relative;
    display: grid;
    grid-template-rows: clamp(100px, 20dvh, 180px) 1fr max-content;
    height: 100dvh;
    width: 100dvw;
    anchor-name: --body;
    #header{
        background-color: var(--colorSecMid);
        grid-area: 1/1/2/-1;
        display: grid;
        grid-template: 50% 50% / 1fr 1fr;
        height: 100%;
        z-index: 500;
        #siteTitle{
            grid-area: 1/1/2/-1;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: solid 2px;
            svg{
                height: clamp(0.6rem, calc(12dvw + 1rem), 4rem);
                width: clamp(0.6rem, calc(12dvw + 1rem), 4rem);
            }
            p{
                font-size: clamp(0.6rem, calc(3dvw + 1rem), 1.8rem);
                font-weight: bold;
            }
        }
        #headerContent{
            grid-area: 2/1/-1/-1;
            box-shadow: inset 0 0 8px 0px;
        }
    }

    #navBar{
        --navBarWidth: clamp(200px, 40dvw, 250px);
        background: linear-gradient(to right,
            var(--colorSecMid),
            var(--colorSecLight) 30%,
            var(--colorSecLight) 70%,
            var(--colorSecMid));
        position: fixed;
        width: var(--navBarWidth);
        top: 0;
        left: 0;
        height: 100dvh;
        z-index: 1000;
        transition: transform 0.5s linear;
        display: flex;
        flex-direction: column;
        padding: 10% 5%;
        box-shadow: inset 0 0 50px 0px #000000b4,
            0 0 20px 0;
        border-right: solid 1px black;
        #navBarToggle{
            position: absolute;
            top: calc(50% - (var(--navBarToggleWidth)*0.5));
            right: calc(-1 * var(--navBarToggleWidth));
            width: var(--navBarToggleWidth);
            height: var(--navBarToggleWidth);
            border-radius: 0 40% 40% 0;
            padding: 4px;
            cursor: pointer;
            opacity: 0.5;
            transition: opacity 0.3s ease;
            background-color: var(--colorSecLight);
            svg{
                width: 100%;
                height: 100%;
            }
        }
        #navBarToggle:hover{
            opacity: 0.7;
        }
        .navLinkGroup{
            align-self: center;
            display: flex;
            flex-direction: column;
            gap: 10px;
            li{
                display: flex;
                align-items: center;
                gap: min(15px, 2dvw);
                cursor: pointer;
                width: fit-content;
                transition: transform 0.2s linear;
                svg{
                    width: var(--fontSize3);
                    height: var(--fontSize3);
                }
                p{
                    white-space: nowrap;
                    font-size: calc(var(--fontSize2) * 0.8);
                }
            }
            li:hover{
                transform: scale(1.2);
            }
        }
        .navLinkGroup:last-of-type{
            margin-top: auto;
        }
    }
    #navBar.collapsed{
        transform: translateX(calc(-1 * calc(var(--navBarWidth) + 1px)));
        box-shadow: inset 0 0 50px 0px #000000b4;
        border-right: none;
        .navLinkGroup{
            overflow: hidden;
        }
    }

    #content{
        background-color: var(--colorPrimLight);
        grid-area: 2/1/3/-1;
        box-shadow: inset 0 0 10px 1px;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
    }
    
    #footer{
        background-color: var(--colorSecMid);
        display: flex;
        justify-content: center;
        grid-area: 3/1/4/-1;
        z-index: 500;
        anchor-name: --footerAnc;
        padding: 5px;
        p{
            font-size: calc(var(--fontSize1) * 0.8);
        }
    }

    #dlgPreferences{
        width: min(400px, 80dvw);
        height: min-content;
        margin: auto;
        padding: min(10px, 2dvw);
        border-radius: 15px;
        background-color: var(--colorSecDark);
        legend:nth-of-type(1){
            margin: 5% 5%;      
            font-size: clamp(0.5rem, calc(1dvw + 0.6rem), 1rem)
        }
        .themes{
            justify-self: center;
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            row-gap: min(2dvh, 20px);
            .themeButton{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: min(1dvh, 10px);
                width: min(70px, 15dvw);
                transition: transform 0.5s linear;
                cursor: pointer;
                div{
                    width: min(50px, 10dvw);
                    height: min(50px, 10dvw);
                    background-color: black;
                    border-radius: 10px;
                    transition: box-shadow 0.5s linear;
                }
                p{
                    text-align: center;
                    font-size: clamp(0.5rem, calc(1.6dvw + 0.6rem), 1.2rem);
                    transition: transform 0.5s linear,
                        text-shadow 0.5s linear;
                    transform: scale(0.8) perspective(1px);
                }
            }
            .themeButton:hover{
                transform: scale(1.1);
                div{
                    box-shadow: -2px -2px 5px 0px black;
                }
                p{
                    transform: scale(1) perspective(1px);
                    font-weight: normal;
                    text-shadow: -2px -2px 3px #00000063;
                }
            }
        }
    }

    #notification:popover-open{
        width: 100dvw;
        height: min(140px, 16dvh);
        display: grid;
        grid-template-columns: clamp(20px, 15dvw, 80px) auto min-content;
        align-items: center;
        background: linear-gradient(to bottom,
            var(--colorPrimDark),
            var(--colorPrimLight)80%,
            transparent);
        padding: clamp(10px, 3dvw, 20px);
        column-gap: 5%;
        .icon{
            grid-area: 1/1/2/2;
            width: min(30px, 6dvw);
            height: min(30px, 6dvw);
        }
        .message{
            grid-area: 1/2/2/3;
        }
        .close{
            grid-area: 1/3/2/4;
            position: static;
            svg{
                width: min(30px, 6dvw);
                height: min(30px, 6dvw);
            }
        }
    }

    .errMsg{
        position: absolute;
        --height: min(400px, 40dvh);
        height: var(--height);
        width: min(400px, 70dvw);
        top: calc(50% - (var(--height) / 2));
        justify-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: var(--colorSecDark);
        gap: 10px;
        padding: 0 20px;
        border-radius: 20px;
        opacity: 0.7;
        svg{
            width: 50%;
            height: 50%;
        }
        p{
            font-size: calc(var(--fontSize3) * 0.5);
            font-weight: bold;
        }
    }

    #tooltip{
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--colorPrimDark);
        pointer-events: none;
        z-index: 1500;
        transition: opacity 0.3s linear allow-discrete;
        border-radius: 10px;
        opacity: 0;
        outline: solid 2px var(--colorHighlight);
        p{
            border-radius: 10px;
            font-size: calc(var(--fontSize1) * 1);
            padding: 4px 10px;
        }
    }
    #tooltip:popover-open{
        opacity: 1;
        @starting-style{
            opacity: 0;
        }
    }
    #tooltip::backdrop{
        display: none;
    }
    
}